<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="form-task" action="/task" method="POST">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="rack">Pilih Flow</label>
                        <select class="form-control" name="flowId" id="flowId">
                            <% for(let i=0; i < flow.length; i++) { %>
                                <option value="<%= flow[i].name %>">
                                    <%= flow[i].name %>
                                </option>
                                <% } %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="note">Catatan</label>
                        <input type="text" class="form-control" id="note" name="note" placeholder="Catatan" required>
                    </div>
                    <div class="form-row">
                        <div class="col-md-10">
                            <label for="note">Tambah Transaksi</label>
                            <input type="text" class="form-control" id="transaction" name="transaction"
                                placeholder="Masukkan Kode Transaksi" required>
                        </div>
                        <div class="col-md-2 mt-2">
                            <label for="note"></label>
                            <a href="#" id="search-transaction" class="btn form-control btn-primary mb-2">
                                <i class="fas fa-fw fa-search"></i>
                            </a>
                            <div class="btn form-control btn-primary mb-2 spinner">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" display="hidden"></span>
                            </div>                            
                        </div>
                    </div>
                    <div class="form-group mb-4">
                        <table id="transactionTable" class="table">
                            <thead>
                                <tr>
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Grand Total
                                    </th>
                                    <th>
                                        Customer Name
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group">
                        <label for="assignedTo">Ditugaskan Kepada</label>
                        <input type="text" class="form-control" id="assignedTo" name="assignedTo" value="<%= user.id %>" hidden>
                        <input type="text" class="form-control" value="<%= user.name %>" placeholder="Nama Karyawan" readonly>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="addTaskSubmit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>